<div class="padding">
  <div class="collaborator">
    Collaborators
  </div>

  <!-- ************************User Info Display *************************** -->

  <div fxLayout="row">
    <div class="nameDivision">
      <div *ngIf="image!=''">
        <img src="{{img}}" class="image">
      </div>
      <button *ngIf="image==''" mat-mini-fab color="primary" class="image">
        {{firstName | slice:0:1}}
      </button>
    </div>
    <div fxLayout="column" class="top">
      <div>
        <span class="nameDivision1">{{firstName}}{{lastName}}(Owner)</span>
      </div>
      <div class="nameDivision2">
        {{email}}
      </div>
    </div>
  </div>

  <!-- **************************Existing Collaborators Display*********************** -->

<div *ngIf="collaborator.length!=0">
  <div fxLayout="row"  *ngFor="let data of collaborator"  class="nameDivision">
      <button class="names" mat-mini-fab color="basic" class="profilebutton2 person_button" > 
        {{data.firstName | slice:0:1}}</button>
      <div fxLayout="column">
      <span class="nameDivision1"> {{data.firstName | titlecase}}</span>
      <span class="nameDivision2"> {{data.email}}</span>
      </div>
      </div>
    </div>

  <!-- ****************************Sender Info Display**************************** -->

  <div fxLayout="row" class="nameDivision">
    <div><button class="names" mat-mini-fab disabled><i class="material-icons">
          person_add
        </i></button></div>
    <input contenteditable="true" (keyup)="search()" class="reset" [(ngModel)]="searchNames"
     placeholder="Person or Email To Share With"
      [matMenuTriggerFor]="menu">
  </div>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item  *ngFor="let item of userList | slice:0:5"
      (click)="save(item)"
      >{{item.firstName}}
         <{{item.email}}> </button>
  </mat-menu>

  <!-- *******************************Functional Buttons************************* -->

  <div class="buttons" fxLayout="row" fxLayoutAlign="space-between">
    <div>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
    <div>
      <button mat-button (click)="cancel()">Save</button>
    </div>
  </div>
</div>