@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.collaborator{
    border-bottom: 1px solid rgba(0,0,0,0.15);
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    padding: 0 0 10px 0;
}
:host::ng-deep.mat-menu-content:not(:empty) {
    padding-top: 8px;
    padding-bottom: 8px;
    width: $width; 
    border-radius: 4px;
    box-sizing: none;
    outline: none;
    z-index: 5003;
    font-size: 13px;
}
.nameDivision{
    padding: 1%;
    padding-left: 2%;
    font-family:$font-family 
}
.top{
    padding-top: 10px;
    padding-left: 2%;
}
.nameDivision1{
    padding: 3%;
    padding-left: 11%;
    padding-top: 2px;
    font-size: 13px;
    font-family: $font-family;
    font-weight: 700;
    color: rgb(32, 33, 36);
}
.nameDivision2{
    padding: 3%;
    padding-left: 11%;
    padding-top: 2px;
    font-size: 13px;
    font-family: $font-family;
    color: rgba(0,0,0,.54);
}
.padding{
    padding: 10px;
}
.image{
    @include image;
}
.buttons{
    float:$float;
    padding:2%;
}
.owner{
    font-style: italic;
    margin-left: 5px;
}
.reset
{
    @include edit();
    padding-top: 8px;
    padding-left: 24px;
    font-size: 13px;
    font-family: $font-family;
    font-style: bold;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.names{
    @include image;
}
