<div class="padding">
  <div class="collaborator">
    Collaborators
  </div>

  <!-- ************************User Info Display *************************** -->

  <div fxLayout="row">
    <div class="nameDivision">
      <div *ngIf="image!=''">
        <img src="{{photo}}" class="image">
      </div>
      <button *ngIf="image==''" mat-mini-fab color="primary" class="image">
        {{owner.firstName | slice:0:1}}
      </button>
    </div>
    <div fxLayout="column" class="top">
      <div class="nameDivision1">
      <span>{{owner.firstName}}{{owner.lastName}}(Owner)</span>
      </div>
      <div class="nameDivision2">
        {{owner.email}}
      </div>
    </div>
  </div>

  <!-- *************************Existing Collaborators Display*********************** -->

  <div fxLayout="row"  *ngFor="let data of collaborator"  class="nameDivision">
    <div fxFlex=2.5>
      <button class="names" mat-mini-fab color="primary"> 
        {{data.firstName | slice:0:1}}</button>
      </div>
      <div fxFlex=95 fxLayout="column">
        <div class="nameDivision1">
      <span> {{data.firstName | titlecase}}</span>
    </div>
      <div class="nameDivision2"> 
        {{data.email}}
      </div>
      </div>
      <div fxFlex=2.5 class="close">
          <mat-icon (click)="deleteCollaborator(data)">close</mat-icon>
        </div>
      </div>


  <!-- ****************************Sender Info Display**************************** -->

  <div fxLayout="row" class="nameDivision">
    <div fxflex=2.5><button class="names" mat-mini-fab disabled><i class="material-icons">
          person_add
        </i></button></div>
        <div fxFlex=95>
    <input contenteditable="true" (keyup)="search()" class="reset" [(ngModel)]="searchNames"
     placeholder="Person or Email To Share With"
      [matMenuTriggerFor]="menu"></div>
      <div fxFlex=2.5 class="close">
          <mat-icon (click)="enterNewLine(searchNames)">done</mat-icon>
        </div>
  </div>
  <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item  *ngFor="let item of userList | slice:0:5"
      (click)="save(item);select(item.email)"
      >{{item.firstName}}
         <{{item.email}}> </button>
  </mat-menu>

  <!-- *******************************Functional Buttons************************* -->
<div class="buttonscolor">
  <div class="buttons" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign="space-between">
    <div>
      <button mat-button (click)="cancel()">Cancel</button>
    </div>
    <div>
      <button mat-button (click)="cancel()">Save</button>
    </div>
  </div>
</div>
</div>