@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
$font-size: 13px;
$padding: 3%;
$padding-left: 13%;
$padding-top: 2px;
$overflow:hidden;

.nameDivision3{
overflow-x: $overflow;
overflow-y: $overflow;
}
.close{
    cursor: $cursor;
}
.collaborator{
    border-bottom: 1px solid #00000026;
    font-size: 18px;
    font-weight: 500;
    height: 25px;
    padding: 0 0 10px 0;
}
.nameDivision{
    padding: 1%;
    padding-left: 2%;
    font-family:$font-family 
}
.top{
    padding-top: 10px;
    padding-left: 2%;
}
.nameDivision1{
    padding-left:$padding-left;
    padding-top: $padding-top;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 700;
    color: #202124;
}
.nameDivision2{
    padding-left:$padding-left;
    padding-top:$padding-top;
    font-size: $font-size;
    font-family: $font-family;
    color: #0000008a;
}
.padding{
    padding: 10px;
}
.image{
    @include image;
}
.buttons{
    padding:2%;
}
.buttonscolor{
    padding-top:$padding-top ;
    background:#d3d3d3;
}
.owner{
    font-style: italic;
    margin-left: 5px;
}
.reset
{
    @include edit();
    padding-top: 8px;
    padding-left: 24px;
    font-size: $font-size;
    font-family: $font-family;
    font-style: bold;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.names{
    @include image;
}

