.space
{
    padding-top: 4%;
    opacity: 0;
}
.space:hover{opacity: 1;}
.close
{
    float : right;
}
.styles{
     border-radius: 5%;
}
.spacebetween{
    margin-left: 5px;
}
.grid{
width:900px;
box-shadow: 0 1px 1px rgba(0,0,0,0.20);
}
.list{
    width:300px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.20);
}
.pin{
    float: right;
    cursor: pointer;
}
.check{
    border: none;
    background: transparent;
    outline: none;
    word-wrap: break-word;
}
.cursor{
    cursor: pointer;
}
.pin{
    float: right;
}