<div fxLayout="row wrap" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="10px" style="margin-top:25px ">
  <div *ngFor='let notes of cardsArray | searchBar :  globalSearch'>
    <div [ngClass]="{'grid':toggle,'list':!toggle}">
      <mat-card style="margin-top : 10px; border-radius: 5px" [style.backgroundColor]="notes.color">
        <app-pin [pinNote]="notes" (pinEvent)="deleteEvent($event)" class="pin"></app-pin>
        <mat-card-title (click)="openDialog(notes)">
          <div [innerHtml]="notes.title"></div>
        </mat-card-title>
        <mat-card-content (click)="openDialog(notes)">
          <div [innerHtml]="notes.description"></div>
        </mat-card-content>
        <div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row">
          <mat-divider></mat-divider>
          <mat-checkbox fxFlex="10%" *ngIf="checklist.status=='open'&& !checklist.isDeleted" 
          (click)=checkBox(checklist,notes)></mat-checkbox>
          <input *ngIf="!checklist.isDeleted && checklist.status=='open' " 
          [(ngModel)]=checklist.itemName fxFlex="90%"
            class="check" (click)="open(notes)" [style.backgroundColor]="notes.color">
        </div>
        <div *ngFor="let checklist of notes.noteCheckLists" fxLayout="row">
          <mat-checkbox fxFlex="10%" checked=true *ngIf="checklist.status=='close'&& !checklist.isDeleted"
           (click)=checkBox(checklist,notes)></mat-checkbox>
          <mat-divider></mat-divider>
          <del class="check" *ngIf="!checklist.isDeleted && checklist.status=='close'" 
          (click)="open(notes)">{{checklist.itemName}}</del>
        </div>
        <br>
        <div fxLayout="row wrap" class="spacebetween">
          <div *ngFor="let index of notes.noteLabels trackBy : val?.id">
            <div *ngIf="index.isDeleted == false">
              <mat-chip-list selected>
                <mat-chip (click)="select(index)">
                  {{index.label}}
                  <mat-icon matChipRemove (click)="$event.stopPropagation();
                   deleteChips(notes.id,index.id)">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="reminderStrike(notes.reminder[0])">
          <div *ngFor="let index of notes.reminder">
              <mat-chip-list>
                  <div *ngIf ="(today | date : shortDate)==(index|date:shortDate)">
                  <mat-chip>Today {{index|date:'shortTime'}}
                      <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                  </mat-chip>
              </div>
              <div *ngIf ="(tomorrow | date : shortDate)==(index|date:shortDate)">
                      <mat-chip> Tomorrow {{index|date:'shortTime'}}
                          <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                      </mat-chip>
                  </div>
                  <div *ngIf ="(today | date : shortDate)!=(index|date:shortDate)&&
                  (tomorrow | date : shortDate)!=(index|date:shortDate)">
                          <mat-chip>{{index|date:'medium'}}
                              <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                          </mat-chip>
                      </div>
              </mat-chip-list>
          </div>
        </div>
        <div *ngIf="!reminderStrike(notes.reminder[0])">
          <div *ngFor="let index of notes.reminder">
              <mat-chip-list>
                  <div *ngIf ="(today | date : shortDate)==(index|date:shortDate)">
                  <mat-chip><del>Today {{index|date:'shortTime'}}</del>
                      <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                  </mat-chip>
              </div>
              <div *ngIf ="(tomorrow | date : shortDate)==(index|date:shortDate)">
                      <mat-chip><del> Tomorrow {{index|date:'shortTime'}} </del>
                          <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                      </mat-chip>
                  </div>
                  <div *ngIf ="(today | date : shortDate)!=(index|date:shortDate)&&
                  (tomorrow | date : shortDate)!=(index|date:shortDate)">
                          <mat-chip><del>{{index|date:'medium'}}</del>
                              <mat-icon (click)="deleteReminder(notes.id)" matChipRemove>cancel</mat-icon>
                          </mat-chip>
                      </div>
              </mat-chip-list>
          </div>
        </div>
        <div class="space" fxLayout="row" fxLayoutAlign="space-between">
          <app-add-reminder [reminder]="notes" (remindEmit)="deleteEvent($event)">
          </app-add-reminder>
          <app-collaborator>
          </app-collaborator>
          <app-change-color [color]="notes" (changeColor)="deleteEvent($event)">
          </app-change-color>
          <app-add-photo>
          </app-add-photo>
          <app-add-archive [archive]="notes" (archiveEmit)="deleteEvent($event)">
          </app-add-archive>
          <app-more [trash]="notes" (deleteCard)="deleteEvent($event)">
          </app-more>
        </div>
      </mat-card>
    </div>
  </div>
</div>