.space
{
    padding-top: 4%;
}
.space:hover{opacity: 1;}
.close
{
    float : right;
}
.styles{
     border-radius: 5%;
}
.spacebetween{
    margin-left: 5px;
}
.grid{
width:900px;
}
.list{
    width:330px;
    border-radius: 5px;
}
.pin{
    float: right;
    cursor: pointer;
}
