.space
{
    padding-top: 4%;
    /* opacity: 0; */
    
}
.space:hover{opacity: 1;}
.close
{
    float : right;
}
.styles{
    padding : 10px;
     border-radius: 5%;
}
.spacebetween{
    margin-left: 5px;
}
/* .cards{
    width:80%;
} */
::ng-deep.mat-card{
    width : 87%;
}