<!-- *************************Add Notes Display In Home Page******************* -->

<app-add-notes (newEvent)="eventEntry($event)">
</app-add-notes>
<!-- ************************Pinned Notes Display In Notes Cards********************* -->

<div *ngIf ="pinnedNotes.length!=0">
<div  fxLayout="row" class="pinned">
    <h4>Pinned</h4> 
  </div>
<app-note-cards [cardsArray]="pinnedNotes" (trashEvent)="eventEntry($event)">
</app-note-cards>
<div  fxLayout="row" class="pinned">
    <h4>Others</h4> 
  </div>
<app-note-cards [cardsArray]="cards" (trashEvent)="eventEntry($event)">
</app-note-cards>
</div>
<!-- ************************Unpinned Notes Display in Note Cards ********************* -->

<div *ngIf = "pinnedNotes.length==0">
    <app-note-cards [cardsArray]="pinnedNotes" (trashEvent)="eventEntry($event)">
    </app-note-cards>
    <app-note-cards [cardsArray]="cards" (trashEvent)="eventEntry($event)">
    </app-note-cards>
</div>