@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.width
{
  width :$width;
}
#center
{
  align-content: center;
}

.letter1{
  color :$maincolor;
font-size:$font-size;
}
.letter2{
color :$maincolor;
font-size :$font-size;
}
.letter3{
color :$maincolor;
font-size:$font-size;
}
.letter4{
color :$maincolor;
font-size: $font-size;
}
.letter5{
font-size: $font-size;
color :$maincolor;
}
.letter6
{
font-size:$font-size;
color :$maincolor;
}
.login{
  font-family: $font-family;
}
