<div class="container1" fxLayout="column" fxLayout.xs="row">
  <div class="item item-1" fxFlex fxFlexOffset="10%"></div>
  <div class="item item-2" fxFlex fxFlexOffset="8%" fxFlexOrder="3"> </div>
  <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div class="item item-3" fxFlex="31%"></div>
    <div class="item item-4" fxFlex="31%" fxFlexOrder="3"></div>
    <div class="item item-5" fxFlex>
       
      <mat-card>
        <my-slide-panel [activePane]="isLeftVisible ? 'right' : 'left'">
          <div leftPane>
            <div class="clas">
              <mat-card-title id="center">
                <img src="./images/google.svg" height="50" width="150"><br>
                <div style="font-family :BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,'Open Sans'">
                  Login to Your Account</div>
              </mat-card-title>
              <!-- <form #loginForm="ngForm"> -->
              <mat-card-content fxLayout="column">
                <div>
                  <mat-form-field class = "width">
                      <input matInput placeholder="Email" [formControl]="Email" required>
                      <mat-error *ngIf = "Email.invalid"> {{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                  <br>
                </div>
              </mat-card-content>
              <div class="button" fxLayout="row" fxLayoutAlign="space-between">
                <nav>
                  <a routerLink="/signup"> Create New Account </a>
                </nav>
                <button mat-raised-button color="primary" type="submit"  (click)=  goTo() >Next</button>
            </div>
            <!-- </form> -->
            </div>
          </div>
          <div rightPane>
            <div>
              <mat-card-title id="center">
                <img src="./images/google.svg" height="50" width="150"><br>
                <div style="font-family :BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,'Open Sans'">
                  Login to Your Account</div>
              </mat-card-title>
              <mat-card-content fxLayout="column">
                <div>
                  <mat-form-field class="width">
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  </mat-form-field>
                  <br>
                </div>
              </mat-card-content>
              <div class=button fxLayout="row" fxLayoutAlign="space-between">
                <nav>
                 <a routerLink="/signup"> Create New Account </a>
                </nav>
                <button mat-raised-button color="primary" (click)="isLeftVisible = !isLeftVisible">Back</button>
                <!-- <nav> -->
                 <button mat-raised-button color="primary">Login</button>
                <!-- </nav> -->
              </div>
            </div>
          </div>
        </my-slide-panel>
      </mat-card>
    </div>
  </div>
</div>
