
.width
{
  width : 100%;
}
#center
{
  align-content: center;
}

.letter1
{
  color : blue;
font-size: 40px;
}
.letter2
{
color : red;
font-size : 40px;
}
.letter3
{
color : green;
font-size: 40px;
}
.letter4
{
  color : blue;
  font-size: 40px;
}
.letter5
{
font-size: 40px;
color : red;
}
.letter6
{
font-size: 40px;
color : yellow;
}
.login{
  font-family: "BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,'Open Sans"
}
