@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
$margin-left:10px;


.example-button-row button,
.example-button-row a {
  margin-right: 4px;

}
.close
{
    float: $float;
}
.click
{
  cursor: $cursor;
}
.noteButton
{
    float: $float;
    padding-right: 2%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}
.close
{
    float: $float;
}
.reset
{
    @include boxes;
    font-weight: bold;
    word-break: break-all;
}
.edit
{
   @include boxes;
    padding-top: 6%;
    word-break: break-all;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top: 10%;
}
.styles
{
   padding-left: 20px;
   padding-right: 20px; 
   padding-bottom: 20px;
   padding-top: 20px;
}

.chips{
    margin-left: $margin-left;
    margin-bottom: 10px;
}
.check{
   @include boxes;
}
.cursor{
    cursor: $cursor;
}
.spacebetween{
    margin-left: $margin-left;
}





