@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}
.close
{
    float: $float;
}
mat-card{
    padding: 8px;
    width: 330px;
}
.click
{
  cursor: $cursor;
}
.noteButton
{
    float: $float;
    padding-right: 2%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}
.close
{
    float: $float;
}
.reset
{
    @include boxes;
    width: $width;
    font-weight: bold;
}
.edit
{
   @include boxes;
    width: $width;
    padding-top: 6%;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top: 10%;
}
.styles
{
   padding-left: 20px;
   padding-right: 20px; 
   padding-bottom: 20px;
   padding-top: 20px;
}

.chips{
    margin-left: 10px;
    margin-bottom: 10px;
}
.check{
   @include boxes;
}
.cursor{
    cursor: $cursor;
}
.spacebetween{
    margin-left: 10px;
}





