<div class="style1" fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="styles" [style.backgroundColor]="data.color">
        <div contenteditable="true" id="titleId" class="reset" 
        [innerHtml]="data.title" data-text=""></div><br>
        <div contenteditable="true" id="notesId" class="edit"
         [innerHtml]="data.description" data-text=""></div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div class="chips" *ngFor="let index of data.noteLabels">
                <mat-chip-list>
                    <mat-chip *ngIf="index.isDeleted==false">
                        {{index.label}}
                        <mat-icon matChipRemove (click)="deleteChips(index.id)">
                            cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
        <mat-chip>
                <i class="material-icons">
                        alarm
                        </i>
            {{data.reminder | date:'fullDate'}}
            <mat-icon matChipRemove >
                cancel</mat-icon>
        </mat-chip>
        <div class="space" fxLayout="row" fxLayoutAlign="space-between">
            <app-add-reminder>
            </app-add-reminder>
            <app-collaborator>
            </app-collaborator>
            <app-change-color>
            </app-change-color>
            <app-add-photo>
            </app-add-photo>
            <app-add-archive>
            </app-add-archive>
            <app-more [trash]="data">
            </app-more>
            <div class="close">
                <div class="example-button-row">
                    <button mat-button (click)="onNoClick(data.id)">CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>