.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}
.close
{
    float: right;
}
mat-card
{
    padding: 8px;
    width: 40%;
}
.click
{
  cursor: pointer;
}
.noteButton
{
    float: right;
    padding-right: 2%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}
.close
{
    float: right;
}
.reset
{
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    font-weight: bold;
}
.edit
{
    padding-top: 6%;
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top: 10%;
}
/* .styles
{
   padding: 1%; 
}
.style1
{
    padding: 10%;
} */





