<div class="style1" fxLayout = "row wrap" fxLayoutAlign = "center center" >
    <div class="styles" [style.backgroundColor] = "data.color" >
        <div contenteditable="true" id="titleId"  class="reset" [innerHtml] = "data.title" data-text=""></div><br>
        <div contenteditable="true" id="notesId" class="edit"  [innerHtml] = "data.description" data-text=""></div>
       <div class="space" fxLayout="row" fxLayoutAlign="space-between" >
        <app-add-reminder>
        </app-add-reminder>
        <app-collaborator>
        </app-collaborator>
        <app-change-color>
        </app-change-color>
        <app-add-photo>
        </app-add-photo>
        <app-add-archive>
        </app-add-archive>
        <app-more>
        </app-more>
        <div class="close">
            <div class="example-button-row">
                <button mat-button (click)="onNoClick(data.id)">CLOSE</button>
            </div>
        </div>
    </div>
    </div>
</div>


