@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.heading{   
@include heading;
}
.clas{
  width: 450px;  
}
.mat-radio-button ~ .mat-radio-button {
   padding-right: 16px;
} 
.letter1{
 color : $blueColor;
 font-size:$font-size;
}
.letter2{
  color : $redColor;
  font-size :$font-size;
}
.letter3{
  color : $greenColor;
  font-size: $font-size;
}
.letter4{
  color : $blueColor;
  font-size:$font-size;
}
.letter5{
  font-size:$font-size;
  color : $redColor;
}
.letter6{
  font-size:$font-size;
  color : $yellowColor
  ;
}
.newPassword{
    font-family: $font-family;
   }
    