<div class="container1" fxLayout="column" fxLayout.xs="row">
    <div class="item item-1" fxFlex fxFlexOffset="8%"></div>
    <div class="item item-2" fxFlex fxFlexOffset="8%" fxFlexOrder="3"></div>
    <form>
      <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
        <div class="item item-3" fxFlex="33%"></div>
        <div class="item item-4" fxFlex="33%" fxFlexOrder="3"></div>
        <div class="item item-5" fxFlex>
          <div class="clas">
            <mat-card>
              <mat-card-title>
                <div class="letters" fxLayout="row">
                  <div class="letter1">F</div>
                  <div class="letter2">U</div>
                  <div class="letter3">N</div>
                  <div class="letter4">D</div>
                  <div class="letter5">O</div>
                  <div class="letter6">O</div>
                </div>
                <br>
                <div style="font-family : BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 'Open Sans'">
                Create New Password
                </div>
              </mat-card-title>
              <mat-card-content fxLayout="column">
                <mat-form-field>
                  <input matInput placeholder="Enter your New Password" [(ngModel)]="model.password" [formControl]="password"
                    [type]="hide ? 'password' : 'text'" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="password.invalid">{{getErrorMessagepassword()}}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Confirm Pasword"  [(ngModel)]="model.confirmPassword" [formControl]="confirmPassword"
                      [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="confirmPassword.invalid">{{getErrorMessagepassword()}}</mat-error>
                  </mat-form-field>
              </mat-card-content>
              <div class=buttons fxLayout="row" fxLayoutAlign="space-between">
                <button mat-raised-button color="primary" type = "reset" value = "reset">Reset</button>
             <button mat-raised-button color="primary" type = "submit" value = "submit" (click)= "match()">Submit</button>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </form>
  </div>