  <mat-icon class = "space" style="cursor : pointer;" [matMenuTriggerFor]="appMenu"><i class="material-icons" matTooltip="More">
    more_vert
  </i></mat-icon>
  <mat-menu #appMenu = "matMenu" [overlapTrigger]="false">
    <div >
    <button mat-button (click) = "postToTrash(trash)">Delete Note</button><br>
    <button mat-menu-item  [matMenuTriggerFor]="labelMenu" >AddLabel</button><br>
    <button mat-button>Add Drawing</button><br>
    <button mat-button>Make a Copy</button><br>
    <button mat-button>Show Checkboxes</button><br>
    <button mat-button>Copy to Google Docs</button><br>
  </div>
  </mat-menu>

  <mat-menu #labelMenu = "matMenu" [overlapTrigger]="false">
    <div *ngFor = "let index of labelArray">
      <mat-checkbox  (click) = "goAndGetLabel(index.id)">{{index.label}}</mat-checkbox>
    </div>
  </mat-menu>