
@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
$padding-top:4%;
$margin-left:80px;
$border-radius: 8px;

.date{
    font-size: 10px;
    margin-left: 1%;
}
mat-card{
    background-color:#feefc3;
    border-radius: 8px;
}
.name{
    font-size:15px;
    margin-left: 5%;
}
.replied{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 20px;
}
.replied{
    margin-top: 80px;
    margin-left: -81px;
    width: 220px;
}
.secondLevel{
    margin-left: 5%;
}
.downScroll{
    max-height:330px;
    overflow-y: auto;
    overflow-x: hidden !important;
}
.messaging{
    padding-left: 5%;
    // width:100%;
    word-break: break-all;
}
.cards{
    margin-right: 6%;
    margin-top: 30px;
    width: 1100px;
}
.container
{
    margin: 50px 0px 20px 0px;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.like{
    cursor:$cursor;
}
.image{
    @include image();
}
.edit
{
    @include edit();
    word-break: break-all;
}
.icon{
    cursor: $cursor;
}
.topping{
    margin-top: 2%;
    position: relative;
    float: right;
}
.topping1{
    margin-top: 10%;
    margin-left: 3%;
}
.likesCount{
    margin-top: 11%;
    margin-left: 3%;
}
.excess
{
    font-size: 25px;
    width: 100%
}
.star{
    margin-left: 2%;
}
.question{
    color: #5f6368;
    letter-spacing: .07272727em;
    font-family: $font-family;
}
.views{
    margin-left: 5%;
}
.image2{
    @include image();
    margin-left: -264px;
    margin-top: 60px;
}
.name2
{
    margin-left: -200px;
    margin-top: -52px;
}
.date2
{
    margin-left: 13px;
    margin-top: -51px;
    font-size: 11px;
}
.messaging2
{
    margin-left: -199px;
    margin-top: -25px;
}
