
@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
$margin-bottom:10px;
$padding-top:4%;
$margin-left:80px;
$border-radius: 8px;

.cards{
    margin-left:$margin-left;
    margin-bottom: 2%;
    margin-right: 6%;
    width:850px
}
.left{
    margin-left:$margin-left;
}
.start{
    float: left;
    margin-bottom: 2% 
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.like{
    cursor:$cursor;
}
.image{
    @include image;
}
.edit
{
    @include edit();
    margin-bottom: $margin-bottom;
    word-break: break-all;
}

.content{
    margin-left:$margin-left;
}
.icon{
    cursor: $cursor;
}
.displayMessage{
    margin-left: 2%;
    width: 850px;
}
.topping{
    margin-top: 2%;
    position: relative;
    float: right;
}
.topping1{
    margin-top: 10%;
}
.excess
{
    font-size: 25px;
    width: 100%
}
.question{
    color: #5f6368;
  letter-spacing: .07272727em;
  font-family: $font-family;
}
