<div fxLayout="row" fxLayoutAlign="center center" style="margin-top:5%;">
    <div class="trash">
        Your Archived Notes Appear here
    </div>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px"
   style="margin-top:15px">
    <div *ngFor='let notes of cards' fxFlex="0 1 calc(30% - 32px)">
        <mat-card  class="cards" [style.backgroundColor]="notes.color">
            <mat-card-title>
                <div [innerHtml]="notes.title"></div>
            </mat-card-title>
            <mat-card-content>
                <div [innerHtml]="notes.description"></div>
            </mat-card-content>
            <div class="space" fxLayout="row" fxLayoutAlign="space-between">
                <app-add-reminder>
                </app-add-reminder>
                <app-collaborator>
                </app-collaborator>
                <app-change-color>
                </app-change-color>
                <app-add-photo>
                </app-add-photo>
                <mat-icon class="space" style="cursor : pointer;">
                    <i class="material-icons" matTooltip="UnArchive" 
                      (click)="unArchive(notes.id)">
                        unarchive
                    </i></mat-icon>
                <app-more>
                </app-more>
            </div>
        </mat-card>
    </div>
</div>