<div  class="pad">
<div class="editlabel">
<b>Edit Label</b>

</div><br>
<div fxLayout="row" fxLayoutAlign = "space-around start" class = "padding">
    <i class="material-icons" mat-Tooltip = "CLOSE" (click)="clear()">
        clear
        </i>
    
<div contenteditable="true" #labelId aria-placeholder="Create New Label" class="reset" data-text="Create New Label"></div><br>
<i class="material-icons">
    done
    </i>   
</div><hr>

<div *ngFor = "let index of labelArray1">
<div *ngIf = "editShow != index.id">
    <a mat-list-item>
        <span class= "delete" (click) = "deleteThisLabel(index.id)"><i class="material-icons" matTooltip="Delete Label">
            delete
          </i></span>
      <span contenteditable="false"  id = "newLabelId" class = "names" [innerHTML]= "index.label"> </span>
     <span class="spacing"> <i class="material-icons"  matTooltip="Rename Label" (click) = "edit(index.id)">
        create
         </i></span>
    </a>
</div>
<div *ngIf = "editShow == index.id">
    <a mat-list-item>
        <span class= "delete" (click) = "deleteThisLabel(index.id)"><i class="material-icons" matTooltip="Delete Label">
            delete
          </i></span>
      <span contenteditable="true"  #labelsId  class = "names"  [innerHTML]= "index.label"> </span>
     <span class="spacing"> <i class="material-icons"  matTooltip="Rename Label" (click) = "updateTheLabel(index.id)">
      done
         </i></span>
    </a>
</div>
  </div>
        <div class="close">
            <div class="example-button-row">
                <button mat-button (click) = "addLabels(trash)">Done</button>
            </div>
        </div>
    </div>