@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

mat-card{
    padding: 8px;
    width: 40%;
}
.click
{
  cursor:$cursor;
}
.noteButton
{
    float:$float;
    padding-right: 2%;
}
.example-button-row button,
.example-button-row a {
  margin-right: 4px;
}
.close
{
    float:$float;
    padding-bottom: 2%;
}
.reset
{
    @include boxes;
    width:$width;
    border-bottom-color:$blackColor
}
.edit
{
  @include boxes;
}
.edit1
{
    @include boxes;
    padding-top: 12%;
    width: fit-content;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top: 4%;
}
.editlabel
{
   float: left;
}
.pad
{
    padding-left: 3%;
    padding-top: 3%;
}
.padding
{
    padding-top: 12%;
}
.spacing
{
    float: $float;
    padding-right: 1%;
    cursor: $cursor;
}
.delete{
cursor: $cursor;
}
.names{
   @include boxes;
    width: $width;
    border-bottom-color:$blackColor
}






