.sidenav-container {
  height:90%;
  background-color: white;
}
.ico{
  float:right;
}
.titledisplay{
  padding-left: 10%;
  padding-top: 7%;
  opacity: 0.51;
  display: inline-block;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
}
.bulp{
  padding-left: 4%;
}
.sidenav{
  width: 230px;
  margin-top: 65px;
  // z-index: 3;
}
.listing{
  background-color: #feefc3;
}   
.mat-drawer.mat-drawer-side {
  top:0;
}
.toolbar
{
  box-shadow: 0 1px 1px rgba(0,0,0,0.20);
  background-color: white;
  position: fixed;
  z-index: 3;
  display: flex; 
}
.title-header{
  padding-left: 1%;
color:black;
padding-right: 32px;
display: flex;
}
.toggle{
  color: black;
  opacity: 0.54;
  display: flex;
}
.searchBar{
flex: 1 1 auto;
padding-left: 2%;
// padding-right: 7%;
}
.material-icons{
  font-size: 30px;
  margin-right: 8px;
  color: black;
  opacity: 0.6;
  display: flex;
}
.search
{
  font: normal 16px Roboto,sans-serif;
  flex: 1 1 auto;
  color: black;
  opacity: 1;
  width: stretch;
  height: 50px;
  // background-color:  rgb(235, 174, 22);
  background-color: whitesmoke;
  border:0px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 1%;
  padding-right: 3%;
}
.one
{
  cursor: pointer;
  // float: right;
  padding-top: 10%;
}
input:focus
{
background-color: white;
}
.profilebutton1{
  width:100px; 
  height:100px; 
  border: none;
 border-radius: 50%;
 background-color: white;
 padding: 3%;
}
.image{
  float:left ;
  width:50px;
  height:50px;
  border-radius: 50%;
}
.padding{
  padding: 3%;
}
.changeButton{
  margin-top: 125%;
}

