<div fxFlex fxLayout="row" fxLayoutAlign="space-around">
  <div>   
  <mat-toolbar class="toolbar">
        <button type="button" aria-label="Toggle sidenav"
           mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="title-header"><b>Fundoo</b> Notes</span>
      
      
        <div  class="searchBar" >
          <mat-icon >search </mat-icon>
          <input   class="search" type="input" placeholder="search" 
           [(ngModel)]="globalSearch" name="search" (click)="goSearch()"
            (keydown)="lookFor()">
        </div>

        <div  fxLayout="row" >
          <div class ="one" matTooltip="Cloud Sync">
            <mat-icon>refresh</mat-icon>
          </div>
         <div class ="one">
            <mat-icon matTooltip="Grid View" (click)="listView()"
             *ngIf="list == 0">
              view_agenda</mat-icon>
            </div>
            <div class ="one">
            <mat-icon  class="material-icons" matTooltip="List View" 
             (click)="gridView()" *ngIf="list == 1">
              view_module</mat-icon>
            </div>
          <div  matTooltip="Google Account" >
              <button class="profilebutton" mat-mini-fab [matMenuTriggerFor]="appMenu">
                  <img src="{{img}}" class="image">
                </button>
            <mat-menu class="mat-menu" #appMenu="matMenu" [overlapTrigger]="false">
              <div class="signout">
                <span fxLayout="row" fxLayoutGap="15px">
                  <button class="profilebutton1">
                    <img src="{{img}}" class = "image">
                  </button>
                  <div style="float : right">
                    <div>{{firstName}}</div>
                    <div>{{email}}</div>
                  </div>
                </span>
              </div>
              <hr>
              <h4>Upload pic</h4>
              <input type="file" (change)=selectFile($event)>
              <hr>
              <button type="button" (click)="Upload()" mat-button > Upload</button>
              <button class="signup_button" mat-button  
                      (click)="doLogout()">Logout</button>
            </mat-menu>
          </div>
          </div>
        <!-- </div> -->


      </mat-toolbar>
      </div>
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'" 
          [opened]="(isHandset$ | async)">
          <mat-nav-list>
            <a mat-list-item routerLink='/home/notes'><i class="material-icons"
               matTooltip="Notes">
                assignment
              </i>Notes</a>
            <a mat-list-item routerLink='/home/reminder'><i class="material-icons"
               matTooltip="Reminders">
                touch_app
              </i>Reminders</a>
            <hr>
            <a mat-list-item> Labels </a>
            <div *ngFor="let labels of labelArray trackBy : val?.id" 
            (click)="select(labels)">
              <div *ngIf="labels.isDeleted==false">
                <a mat-list-item>
                  <mat-icon >label_outline</mat-icon>
                  <span  [innerHTML]="labels.label"></span>
                </a>
              </div>
            </div>
            <a mat-list-item (click)="openDialog()">
              <i class="material-icons" matTooltip="Edit Label">
                create
              </i>Edit Labels</a>
            <hr>
            <a mat-list-item routerLink="/home/archive">
              <i class="material-icons" matTooltip="Archive">
                archive
              </i>Archive</a>
            <a mat-list-item routerLink="/home/trash">
              <i class="material-icons" matTooltip="Trash">
                delete
              </i>Trash</a>
            <a mat-list-item> <i class="material-icons" matTooltip="Settings">
                settings
              </i>
              Settings</a>
            <hr>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="display:flex">
          <router-outlet>
            <!--  content goes here -->
          </router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>