<div fxLayout="row" >
  <mat-toolbar class="toolbar">
        <button type="button" aria-label="Toggle sidenav"
           mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span class="title-header">{{title}}</span>
        <mat-icon fxshow = "true" fxHide.lg = "true" fxHide.xs="false" fxHide.sm="true" 
        fxHide.md="true" >search</mat-icon>

        <div  class="searchBar" fxShow="true" fxHide.xs="true" fxHide.sm="false" 
        fxHide.md="false">
          <input class="search" type="input" placeholder="search" 
           [(ngModel)]="globalSearch" name="search" (click)="goSearch()"
            (keydown)="lookFor()">
        </div>
        <div  fxLayout="row">
          <div class ="one" matTooltip="Cloud Sync">
            <mat-icon>refresh</mat-icon>
          </div>
         <div class ="one">
            <mat-icon matTooltip="Grid View" (click)="listView()"
             *ngIf="list == 0">
              view_agenda</mat-icon>
            </div>
            <div class ="one">
            <mat-icon  class="material-icons" matTooltip="List View" 
             (click)="gridView()" *ngIf="list == 1">
              view_module</mat-icon>
            </div>
          <div  matTooltip="Google Account" >
              <button *ngIf="image2!=''" class="profilebutton" mat-mini-fab
               [matMenuTriggerFor]="appMenu">
                  <img src="{{img}}" class="image">
                </button>
                <button *ngIf="image2==''" class="profilebutton" mat-mini-fab 
                [matMenuTriggerFor]="appMenu">
                    {{firstName | slice:0:1}}
                  </button>
            <mat-menu #appMenu="matMenu" [overlapTrigger]="false">
              <div class="padding" fxLayoutAlign="row wrap" fxLayoutGap="15px" fxLayoutAlign="space-between">
              <div fxFlex=15>
              <button  *ngIf="image2!=''" (click) = "$event.stopPropagation()" 
              [ngStyle]="{'background-image':'url(' +img+ ')','background-size':'cover'}"
              (click)="selectFile.click()" matTooltip="{{firstName | titlecase}}"
              mat-mini-fab class="profilebutton1">
              <div class="changeButton">
              Change
            </div>  
            </button>
              <button *ngIf="image2==''" (click) = "$event.stopPropagation()" 
              (click)="selectFile.click()" matTooltip="{{firstName | titlecase}}"
              mat-mini-fab class="profile-pic">
              {{firstName | slice:0:1}}
              </button>
              <input style="display:none" (click) = "$event.stopPropagation()"
               class="image"
              type="file" (change)="onFileUpload($event)" #selectFile>
              </div>
              <div fxLayout="column" class="name">
              <div>
              {{firstName}}</div><br>
              <div>{{email}}</div>
            </div>
              </div>
              <hr>
              <div fxLayoutAlign="row wrap" class="add" fxLayoutGap=85px fxLayoutAlign="center">
              <button class="signup_button" mat-button  
                      (click)="doLogout()" matTooltip="Logout">Logout</button></div>
              </mat-menu> 
          </div>
        </div>
      </mat-toolbar>
      <mat-sidenav-container class="sidenav-container">
        <mat-sidenav #drawer class="sidenav" fixedInViewport="true" 
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
          [mode]="(isHandset$ | async) ? 'over' : 'side'" 
          [opened]="(isHandset$ | async)">
          <mat-nav-list>
            <a (click)='aptTitle("Fundoo Notes")' mat-list-item routerLink='/home/notes'>
              <i class="material-icons"
               matTooltip="Notes">
                assignment
              </i>Notes</a>
            <a (click)='aptTitle("Reminders")' mat-list-item routerLink='/home/reminder'>
              <i class="material-icons"
               matTooltip="Reminders">
                touch_app
              </i>Reminders</a>
            <hr>
            <a mat-list-item> Labels </a>
            <div *ngFor="let labels of labelArray trackBy : val?.id" 
            (click)="select(labels)">
              <div *ngIf="labels.isDeleted==false">
                <a (click)='aptTitle(labels.label)' mat-list-item>
                  <mat-icon >label_outline</mat-icon>
                  <span  [innerHTML]="labels.label"></span>
                </a>
              </div>
            </div>
            <a mat-list-item (click)="openDialog()">
              <i class="material-icons" matTooltip="Edit Label">
                create
              </i>Edit Labels</a>
            <hr>
            <a (click)='aptTitle("Archive")' mat-list-item routerLink="/home/archive">
              <i class="material-icons" matTooltip="Archive">
                archive
              </i>Archive</a>
            <a (click)='aptTitle("Trash")' mat-list-item routerLink="/home/trash">
              <i class="material-icons" matTooltip="Trash">
                delete
              </i>Trash</a>
            <a (click)='aptTitle("Settings")' mat-list-item> <i class="material-icons" matTooltip="Settings">
                settings
              </i>
              Settings</a>
            <hr>
          </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content style="display:flex">
          <router-outlet>
            <!--  content goes here -->
          </router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>