.sidenav-container {
  height: 100%;
  background-color: rgb(221,221,230);
}
.sidenav {
  width: 230px;
  margin-top: 65px;
  background-color:rgb(221,221,230);
  position: fixed;
}
.mat-drawer.mat-drawer-side {
  top:0;
}
.toolbar
{
  background: #fb0;
  position: fixed;
  z-index: 2;
  display: flex;
}
.title-header{
color:black;
padding-right: 32px;
display: flex;
}
.toggle{
  color: black;
  opacity: 0.54;
  display: flex;
}
.searchBar{
flex: 1 1 auto;
width: stretch;
}
.material-icons{
  font-size: 30px;
  margin-right: 8px;
  color: black;
  opacity: 0.6;
  display: flex;
}
.search
{
  flex: 1 1 auto;
  color: black;
  opacity: 1;
  width: stretch;
  height: 50px;
  background-color:  rgb(235, 174, 22);
  border:0px;
  border-radius: 5px;
  font-size: 20px;
  padding-left: 1%;
}
.one
{
  display: flex;
  cursor: pointer;
  padding-top: 7%;
}
input:focus
{
background-color: white;
}
.profilebutton{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: rgb(235, 174, 22);
}
.profilebutton1{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: white;
}
.profilebutton2{
  width:50px; 
  height:50px; 
  border: none;
 border-radius: 50%;
 background: transparent;
 outline:none;
}
.image{
  float:left ;
  width:50px;
  height:50px;
  border-radius: 50%;
}
.signup_button{
  float:right; 
  padding-right:5px;
}
