mat-card{
    padding: 6px;
    width: 45%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgba(0,0,0,0.20);
}
.click
{
  cursor: pointer;
}
.noteButton
{
    float: right;
    padding-right: 2%;
}
.close
{
    float: right;
}
.reset
{
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    font-style: bold;
    letter-spacing: .00625em;
    font-family: 'Google Sans','Roboto',Arial,sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding-top: 12px;
}
.edit
{
    padding-top: 6%;
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
    letter-spacing: .01428571em;
    font-family: 'Roboto',Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top: 4%;
}
.edit1
{
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
}
.topping{
    padding-top: 4%;
}.pin{
    float: right;
    cursor: pointer;
}
.check{
    margin-bottom: 10px;
}
.items
{
    margin-bottom: 10px;
}





