<div fxLayout='column' fxLayoutWrap fxLayoutAlign="center center" style="margin-top:100px">
    <mat-card *ngIf="hide" (click)="hide=!hide">
        <span> Take a Note ...</span>
        <div class="noteButton" fxLayout="row" fxLayoutAlign="space-evenly">
            <div class="click">
                <i class="material-icons" mat-raised-button matTooltip="New List"
                 (click)="toggle()">
                    list
                </i>
            </div>
        </div>
    </mat-card>
    <mat-card *ngIf="!hide" [style.backgroundColor]="color">
        <img src="../../../assets/images/pin.svg" matTooltip="Pin" class="pin">
        <div contenteditable="true" id="titleId" class="reset" data-text="Title"></div>
        <div *ngIf="show == 0">
            <div contenteditable="true" id="notesId" class="edit" data-text="Take a Note.... " 
            (click)="checked=false"></div>
        </div>
         <div class = "items"></div>
        <div  *ngIf="show ==1" id="title" autofocus #description style="margin-bottom: 20px;">
            <div  *ngFor="let data of dataArray" id="note" fxLayout="row"
             style="margin-bottom: 5px;">
                <mat-checkbox fxFlex="5%"></mat-checkbox>
                <input fxFlex="90" *ngIf="show ==1" class="inputNote1" id="note"
                 [(ngModel)]=data.data (keydown)="editing($event.data)">
                <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="Delete" 
                style="cursor: pointer;">cancel</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div  fxLayout="row" autofocus id="notesId">
                <mat-icon fxFlex="5%">add</mat-icon>
                <input id="note" [(ngModel)]=data (click)="checked=true" fxFlex="95%" 
                class="inputNote" [(ngModel)]=data.data
                    placeholder="List item" (keydown.enter)="enter()">
            </div>
            <mat-divider></mat-divider>
        </div>
        <div *ngFor="let index of labelName">
            <mat-chip-list>
                <mat-chip>{{index.label}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngFor="let index of dateArray">
            <mat-chip-list>
                <mat-chip>{{index|date:'medium'}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
        <div class="space" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex=10>
                <app-add-reminder [reminder]="notes" (dateEmit)="emitDate($event)">
                </app-add-reminder>
            </div>
            <div fxFlex=10>
                <app-collaborator>
                </app-collaborator>
            </div>
            <div fxFlex=10>
                <app-change-color (colorEmit)=colorChanges($event)>
                </app-change-color>
            </div>
            <div fxFlex=10>
                <app-add-photo>
                </app-add-photo>
            </div>
            <div fxFlex=10>
                <mat-icon class="space" style="cursor:pointer" matTooltip="Archive">archive</mat-icon> 
            </div>
            <div fxFlex=10>
                <app-more (addEvent)="instantLabel($event)">
                </app-more>
            </div>
            <div>
                <button mat-button (click)="addNotes()">CLOSE</button>
            </div>
        </div>
        <br>
    </mat-card>
</div>