@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
$margin-bottom:10px;
$padding-top:4%;


mat-card{
    padding: 6px;
    width: 45%;
    border-radius: 8px;
    background-color: $color;
    box-shadow: $box-shadow;
}
.click
{
  cursor: $cursor;
}
.noteButton
{
    float: $float;
    padding-right: 2%;
}
.close
{
    float: $float;
}
.reset
{
    @include edit();
    padding-top: 12px;
    font-style: bold;
}
.edit
{
    @include edit();
    margin-bottom: $margin-bottom;
    padding-top: 6%;
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top:$padding-top;
}
.edit1
{
 @include boxes;
    width:$width;
}
.topping{
    padding-top:$padding-top;
}
.pin{
    float: $float;
    cursor: $cursor;
}
.check{
    margin-bottom: $margin-bottom;
}
.items
{
    margin-bottom:$margin-bottom;
}





