mat-card{
    padding: 6px;
    width: 45%;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 5px rgba(0,0,0,0.20);
}
.opened{
    background-color: rgb(255, 255, 255);
}
.click
{
  cursor: pointer;
}
.noteButton
{
    float: right;
    padding-right: 2%;
}
.close
{
    float: right;
}
.reset
{
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    font-style: bold;
    background-color: rgb(255, 255, 255);
}
.edit
{
    padding-top: 6%;
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}
.space
{
    padding-top: 4%;
}
.edit1
{
    border: none;
    border-color: transparent;
    outline: none;
    width: 100%;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
}
.topping{
    padding-top: 4%;
}.pin{
    float: right;
    cursor: pointer;
}
.check{
    margin-bottom: 10px;
}
.items
{
    margin-bottom: 10px;
}





