<div *ngIf="addCollaborator==0" fxFlex = 100 fxLayout='row' fxLayoutAlign="center center" 
style="margin-top:100px; border-radius: 8px">
    <mat-card *ngIf="hide" (click)="hide=!hide">
        <span> Take a Note ...</span>
        <div class="noteButton" fxLayout="row" fxLayoutAlign="space-evenly">
            <div class="click">
              <i class="material-icons" matTooltip="New List"
                (click)="toggle()">
                check_box</i>
            </div>
        </div>
    </mat-card>

    <!-- **************************** Take A Note ****************************** -->

    <mat-card *ngIf="!hide" [style.backgroundColor]="color">
        <img src="../../../assets/images/pin.svg" matTooltip="Pin" class="pin">
        <div contenteditable="true" id="titleId" class="resetTitle" data-text="Title"></div>
        <div *ngIf="show == 0">
            <div contenteditable="true" id="notesId" class="edit" data-text="Take a Note.... " 
            (click)="checked=false"></div>
        </div>
         <div class = "items"></div>
        <div  *ngIf="show ==1 " id="title" autofocus #description style="margin-bottom: 20px;">
            <div  *ngFor="let data of dataArray" id="note" fxLayout="row"
             style="margin-bottom: 5px;">
                <mat-checkbox fxFlex="5%"></mat-checkbox>
                <input fxFlex="90" *ngIf="show ==1" class="inputNote1" id="note"
                 [(ngModel)]=data.data (keydown)="editing($event.data)">
                <mat-icon fxFlex="4%" (click)=ondelete(data) matTooltip="Delete" 
                style="cursor: pointer;">cancel</mat-icon>
            </div>
            <mat-divider></mat-divider>
            <div  fxLayout="row" autofocus id="notesId">
                <mat-icon fxFlex="5%">add</mat-icon>
            
                <input id="note" [(ngModel)]=data (click)="checked=true" fxFlex="95%" 
                class="inputNote" [(ngModel)]=data.data
                    placeholder="List item" (keydown.enter)="enter()">
            </div>
            <mat-divider></mat-divider>
        </div>

          <!-- *****************************Collaborator Display*********************** -->

          <div fxLayout="row wrap" class="spacebetween">
            <div *ngFor="let index of collaborator">
              <button mat-mini-fab color="primary" matTooltip={{index.email}} >
                {{index.firstName|slice:0:1 | uppercase }}
               </button>
            </div>
          </div><br>

        <!-- ******************* Label Adding To the Note ************************* -->

        <div fxLayout="row wrap">
        <div *ngFor="let index of labelName">
            <mat-chip-list>
                <mat-chip>{{index.label}}
                    <mat-icon (click)="cancelLabel()" matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>

    <!-- *********************** Adding Reminders to The Notes ************************* -->

        <div *ngFor="let index of dateArray">
            <mat-chip-list>
                <div *ngIf ="(today | date : shortDate)==(index|date:shortDate)">
                <mat-chip>Today {{index|date:'shortTime'}}
                    <mat-icon (click)="cancel()" matChipRemove>cancel</mat-icon>
                </mat-chip>
            </div>
            <div *ngIf ="(tomorrow | date : shortDate)==(index|date:shortDate)">
                    <mat-chip> Tomorrow {{index|date:'shortTime'}}
                        <mat-icon (click)="cancel()" matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </div>
                <div *ngIf ="(today | date : shortDate)!=(index|date:shortDate)&&
                (tomorrow | date : shortDate)!=(index|date:shortDate)">
                        <mat-chip>{{index|date:'medium'}}
                            <mat-icon (click)="cancel()" matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </div>
            </mat-chip-list>
        </div>

        <!-- ************************Icons Display In Adding Notes ********************* -->

        <div class="space" fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex=10>
                <app-add-reminder [reminder]="notes" (dateEmit)="emitDate($event)">
                </app-add-reminder>
            </div>
            <div fxFlex=10>
                <mat-icon style="cursor : pointer;">
                    <i class="material-icons" matTooltip="Collaborator" 
                    (click)=toggleCollaborator() >
                      person_add
                    </i></mat-icon>
            </div>
            <div fxFlex=10>
                <app-change-color (colorEmit)=colorChanges($event)>
                </app-change-color>
            </div>
            <div fxFlex=10>
                <app-add-photo>
                </app-add-photo>
            </div>
            <div fxFlex=10>
                <mat-icon class="space" style="cursor:pointer" matTooltip="Archive"
                 (click)="pinIt()">archive</mat-icon> 
            </div>
            <div fxFlex=10>
                <app-more (addEvent)="instantLabel($event)">
                </app-more>
            </div>
            <div>
                <button mat-button (click)="addNotes()">CLOSE</button>
            </div>
        </div>
        <br>
    </mat-card>
</div>


 <!-- ************************Add Collaborators*********************** -->

 <div  *ngIf="addCollaborator==1" fxFlex = 100 fxLayout='row' 
   fxLayoutAlign="center center" 
 style="margin-top:100px; border-radius: 8px">
 <mat-card>
        <div class="padding">
                <div class="collaborator">
                  Collaborators
                </div>
              
                <!-- ************************User Info Display *************************** -->
              
                <div fxLayout="row">
                  <div class="nameDivision">
                    <div *ngIf="image!=''">
                      <img src="{{img}}" class="image">
                    </div>
                    <button *ngIf="image==''" mat-mini-fab color="primary" class="image">
                      {{firstName | slice:0:1}}
                    </button>
                  </div>
                  <div fxLayout="column" class="top">
                    <div class="nameDivision1">
                    <span>{{firstName}}{{lastName}}(Owner)</span>
                    </div>
                    <div class="nameDivision2">
                      {{email}}
                    </div>
                  </div>
                </div>
              
                <!-- *************************Existing Collaborators Display*********************** -->
              
                <div fxLayout="row"  *ngFor="let data of collaborator"  class="nameDivision">
                  <div fxFlex=2.5>
                    <button class="names" mat-mini-fab color="primary"> 
                      {{data.firstName | slice:0:1}}</button>
                    </div>
                    <div fxFlex=95 fxLayout="column">
                      <div class="nameDivision1">
                    <span> {{data.firstName | titlecase}}</span>
                  </div>
                    <div class="nameDivision2"> 
                      {{data.email}}
                    </div>
                    </div>
                    <div fxFlex=2.5 class="close">
                        <mat-icon (click)="deleteCollaborator(data)">close</mat-icon>
                      </div>
                    </div>
              
              
                <!-- ****************************Sender Info Display**************************** -->
              
                <div fxLayout="row" class="nameDivision">
                  <div fxflex=2.5><button class="names" mat-mini-fab disabled><i class="material-icons">
                        person_add
                      </i></button></div>
                      <div fxFlex=95>
                  <input contenteditable="true" (keyup)="search()" class="reset" 
                  [(ngModel)]="searchNames"
                   placeholder="Person or Email To Share With"
                    [matMenuTriggerFor]="menu"></div>
                    <div fxFlex=2.5 class="close">
                        <mat-icon (click)="enterNewLine(searchNames)">done</mat-icon>
                      </div>
                </div>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                    <button mat-menu-item  *ngFor="let item of userList | slice:0:5"
                    (click)="select(item.email)"
                    >{{item.firstName}}
                       <{{item.email}}> </button>
                </mat-menu>
              
                <!-- *******************************Functional Buttons************************* -->
              <div class="buttonscolor">
                <div class="buttons" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign="space-between">
                  <div>
                    <button mat-button (click)="cancelCards()">Cancel</button>
                  </div>
                  <div>
                    <button mat-button (click)="closecards()">Save</button>
                  </div>
                </div>
              </div>
              </div>
        </mat-card>
        </div>
       