@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

:host {
    display: block;
    overflow: hidden;
  }
  
  .panes {
    height:$width;
    width: 200%;
  
    display:$display;
  }
    div {
      flex: 1;
    }
  