@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";

.heading{
   display:$display;
   justify-content: center;
   align-items: center;
   height: 97vh;
   width: $width;;
    }
.clas{
      width: 450px; 
}
.mat-radio-button ~ .mat-radio-button {
      padding-right: 16px;
}
.select{
      cursor:$cursor;
      background-color: lightgreen;
      height: 70%;
      width :70%;
}
.notSelect{
      cursor: $cursor;
      background-color:lightskyblue ;
      height: 70%;
      width : 70%;
}
.letter1{
      color : $blueColor;
    font-size:$font-size;
}
.letter2{
  color : $redColor;
  font-size :$font-size;
}
.letter3{
color : $greenColor;
font-size:$font-size;
}
.letter4{
 color : $blueColor;
  font-size: $font-size;
}
.letter5{
    font-size: $font-size;
color : $redColor;
  }
.letter6
{
  font-size:$font-size;
color : $yellowColor;
}
.caps
{
  text-transform: uppercase;
}
.google{
  font-family: $font-family;
}
  