@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
$height: 70%;
$width :70%;


.heading{
  @include heading;
    }
.clas{
      width: 450px; 
}
.mat-radio-button ~ .mat-radio-button {
      padding-right: 16px;
}
.select{
      cursor:$cursor;
      background-color: #90ee90;
      height:$height;
      width :$width ;
}
.notSelect{
      cursor: $cursor;
      background-color:#87cefa ;
      height: $height;
      width : $width ;
}
.letter1{
      color : $blueColor;
    font-size:$font-size;
}
.letter2{
  color : $redColor;
  font-size :$font-size;
}
.letter3{
color : $greenColor;
font-size:$font-size;
}
.letter4{
 color : $blueColor;
  font-size: $font-size;
}
.letter5{
    font-size: $font-size;
color : $redColor;
  }
.letter6
{
  font-size:$font-size;
color : $yellowColor;
}
.caps
{
  text-transform: uppercase;
}
.google{
  font-family: $font-family;
}
  