/* .example-container {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-top: 3%;
padding-left: 2%;
    height: fit-content
    /* align-content: center;
 } */
  
  /* mat-card
  {
      align-content: center;
      padding-left: 10%;
      padding-right: 30%;
      padding-top: 3%;
      width: 60%;
  }
  #padding
{
  padding-top: 10%;
  padding-left: 15%;;
  align-content: center;
} */

/* #example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  .example-full-width {
    width: 100%;
  }


   */
   /* .row-height {
    height: 100%;
    } */

    .heading{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 97vh;
      width: 100%;
    }
    .clas
    {
      width: 450px;
      /* height : 550px */
      /* border-radius: 5%; */
    }
    .mat-radio-button ~ .mat-radio-button {
      padding-right: 16px;
    }
    .size
    {
      background-color: crimson;
      height: 50%;
      width : 50%;
    }
    .size1
    {
      background-color: lightblue;
      height: 50%;
      width : 50%;
    }
    

  