.colors{
    height: 30px;
    width : 30px;
    overflow: hidden;
    box-shadow: none;
}
// .mat{
//     padding-top: 8px;
//     padding-bottom: 8px;
//     width: 150px;
//     box-sizing: none;
//     outline: none;
// }