@import "../../../scss/mixins.scss";
@import "../../../scss/variables.scss";
.ecommerce_header{
    margin-top: 40px;
}
.package{
    font-family:$font-family;
    font-size:20px;
}
.cartAlign{
    margin-top: 80px;
}
ul.details {
    list-style-type: square;   
   margin-left: -14%;
   font-family: $font-family;
   line-height: 200%;
}
.cartMatCard{
    width: 170px;
    height: 250px;
}
.basic{
    color: blue;
    font-family: $font-family;
}
.cartSize{
    margin-top: -42px;
    margin-left: -14%;
}
.alignCart{
    margin-top: 10%;
    margin-left: -8%;
}
.cartTitle{
    padding: 5px;
    font-family:$font-family;
    cursor: $cursor;
}
.heading{
        font-size: 25px;
        font-family:$font-family;
        color: #5f6368;  
    }
    .select{
        cursor:$cursor;
        width: 189px;
        height: 300px;
        background-color: #fb0;
  }
  mat-toolbar{
      background-color: #fb0;
  }
  .notSelect{
        cursor: $cursor;
        width: 179px;
        height: 290px;
        background-color: grey;
  }
  .notSelect:hover{
    background-color: #fb0;
  }