<div fxLayout="row">
  <div fxFlex.lg="5" fxFlex.md=5 fxFlex.sm=10 fxFlex.xs=0></div>
  <div fxFlex.lg="90" fxFlex.md=90 fxFlex.sm=80 fxFlex.xs=100 class="mainCard">
    <div fxLayout="column" fxLayoutAlign="center center" >
      <div fxLayoutAlign="center center" class="heading" >
        Which FundooNotes Service Package Do you Want ?
      </div>
    <div fxLayout="row" fxLayoutGap=40px fxLayoutAlign="space-between" fxLayoutAlign="center center" class="textBox">
      <div class="box select" fxLayout="column">
        <div class="basic">
          $ 6.99 per Month
        </div>
        <div class="advanced">
          Advanced
        </div>
        <div class="details">
            <ul>
                <li>Unlimited Wall Space</li><br>
                <li>Nice InterFace</li><br>
                <li>$ 6.99 per Month</li><br>
                <li>Ability to Add only Title and Description </li><br>
            </ul>  
        </div>
      </div>     
      <div class="box select" fxLayout="column">
        <div class="basic">
          $ 3.99 per Month
        </div>
        <div class="advanced">
          Basic
        </div>
        <div class="details">
            <ul>
                <li>Unlimited Wall Space</li><br>
                <li>Nice InterFace</li><br>
                <li>$ 3.99 per Month</li><br>
                <li>Ability to Add only Title and Description </li>
            </ul> 
          </div>
      </div>
    </div>
    </div>
  </div>
  <div fxFlex.lg="5" fxFlex.md=5 fxFlex.sm=10 fxFlex.xs=0></div>
</div>